h5py
keras
markdown-it-py
matplotlib-inline
numpy
opencv-python-headless
pandas
pdf2image
pillow
pipreqs
psutil
requests
scikit-learn
seaborn
streamlit
tensorflow
tinycss2
toml
torch
torchvision
